.form-img{
    width: 125px;
    height: 125px;
}
.form-control{
    max-width: 250px;
}

.btn{
    background-color: #8f8f8f;
    box-shadow: 3px 5px 4px #000000;
    color: white;
}
.item-login{
    color: #2b3800;
}
h1{
    color: #2b3800;
    padding-bottom: 15px;
}